.jxgButton {
    color: 'black';
    background-color: #bbddfc;
    border-radius: 4px;
    border: 1px solid #408dd6;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}